<html>
<head>
<title> Panel de Administrador</title>
<link href= "frank.css" rel="stylesheet" type= "text/css">
    <link rel="shortcut icon" type="image/jpeg" href="img/favicon.jpeg"/>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>

<body class = "body1">
<center>
<a href="/admin_terminales" style="text-decoration: none">
<img src="img/terminal.png" height="160px" style="margin-top: 300px; margin-botton: 10px; margin-left:50px; margin-right:50px;"/>
</a>
<a href="/admin_pois" style="text-decoration: none">
  <img src="img/poi.png" height="160px" style="margin-top: 10px; margin-botton: 10px; margin-left:50px; margin-right:50px;"/>
</a>
<a href="/admin_consultas" style="text-decoration: none">
  <img src="img/consulta.png" height="160px" style="margin-top: 10px; margin-botton: 10px; margin-left: 50px; margin-right: 50px;"/>
</a>
</center>

<center>
<strong style="margin-left: 100px; margin-right:90px">TERMINALES</strong>
<strong style="margin-left: 100px; margin-right: 100px">POIS</strong>
<strong style="margin-left: 90px; margin-right: 100px">BUSQUEDAS</strong>
</center>

</body>
</html>
