<!doctype html>
<html>
<head>
<link href= "frank.css" rel="stylesheet" type= "text/css">
 <script src="Frank.js"></script>
<meta charset="utf-8">

<title>Documento sin título</title>
</head>
<header class="header"><br><br>
<p id="h1"> Historial de consultas</p>
</header>
<body style="height:1000px;">
<p class="login_text" style="color:#454545;"><strong>Ingrese ID de búsqueda <br>
  o ID de terminal</strong></p>
<input type="text" style="border-radius:5px; margin-left:350px; width:177px; height:20px;"><br>
<!--<button type="button" style="background: linear-gradient(to bottom,#FBAB00,#ffd300); background-repeat:no-repeat; border-radius:10px; font-family: 'Raleway', Arial, sans-serif; font-weight:bold; color: #454545; text-align:center; margin-right:400px; margin-top:-70px; padding:10px;  height:45px; width:100px; float:right; align-content:center; font-size:16px;"> Enviar </button>-->
<input type="submit" style="background: linear-gradient(to bottom,#FBAB00,#ffd300); background-repeat:no-repeat; border-radius:10px; font-family: 'Raleway', Arial, sans-serif; font-weight:bold; 	margin-top:10px; color: #454545; text-align:center; margin-left:390px; height:25px; margin-bottom:50px">

<table width="700" border="0" style="margin-left:70px; "  >
  <tbody >
    <tr>
      <td><p class="historial_tabla" style=" height:25px; width:150px;"> ID búsqueda</p></td>
      <td><p class="historial_tabla" style=" height:25px; width:150px;"> ID terminal</p></td>
      <td><p class="historial_tabla" style=" height:25px; width:150px;"> Fecha</p></td>
      <td><p class="historial_tabla" style=" height:25px; width:150px;"> Cantidad de POIs</p></td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> 1520</p></td>
    <td><p class=" historial_tabla_textos"> 752</p></td>
    <td> <p class=" historial_tabla_textos"><!-- #BeginDate format:Ge1m -->01.12.2016  1:21<!-- #EndDate --></p></td>
    <td><p class=" historial_tabla_textos"> 1</p></td>
    <td><button type="button" class="btn_Detalles" > Detalles </button>
</td>
    </tr>
  </tbody>
</table>


</body>
</html>
