<html>
<head>
<title> Panel de Administrador</title>
<link href= "frank.css" rel="stylesheet" type= "text/css">
    <link rel="shortcut icon" type="image/jpeg" href="img/favicon.jpeg"/>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>

<body = class="body1">
<center>
<img src="img/poi.png">
<button type="text" class="botones_adm" onclick="window.location.href='/admin_terminales'"> Administrar terminales</button>
<button type="text"  class="botones_adm" onclick="window.location.href='/admin_pois'">Administrar POIs</button>
<button type="text" class="botones_adm" onclick="window.location.href='/admin_consultas'"> Histórico de consultas</button>
</center>
</body>
</html>
