
{{#partial "contenido"}}
<center>
<br>
<br>
<t class="login_text"> Seleccione el tipo de acci&oacute;n a agregar: </t>
<select id="Seleccion" style="margin-right: 30px; ;width:200px; height:20px;" name="tipoFiltro">
    <option value="vacio">-</option>
		  <option value="banco">Mandar mail a admin</option>
  </select>
<a href="/agregar_accion" style="text-decoration: none;"><img src="img/nueva_accion.png" height="30px" style="margin-top: auto;"/>  Nueva acci&oacuten</a>
</center>
<form action="/borrar_accion">
     {{#terminal}}
     <input type="text"  name="id" value="{{nombre}}">
     {{/terminal}}
     
<center>
  <table style="margin-top: 40px;">
     <tr>
		  <td><p class="historial_tabla" style=" height:40px; width:600px;"> Lista de acciones</p></td>   
     </tr>
     {{#acciones}}
     <tr>
     <td>
 <center><input type="checkbox" name="name" value="{{nombre}}" style="margin-top:30px;">{{nombre}}<br></center> 		  		
		 </td>
		  </tr>
{{/acciones}}		      
</table></center>
<center><input type="submit" class="btn_Detalles" value="Borrar Acciones">
<button type="button" onclick="goBack()" class="btn_Detalles" style="margin-top:100px; width:150px"> Atras </button></center>
</form>		
{{/partial}}

{{#partial "titulo"}}Administrador de Acciones{{/partial}}
{{#partial "imagen"}}img/diagonal.jpg{{/partial}}
{{> layoutAdmin.hbs}}