<html>
<head>
<link href= "frank.css" rel="stylesheet" type= "text/css">
    
<meta charset="utf-8">
<title>Documento sin título</title>
</head>

<body = class="body1">
<center>
<a href="/admin_terminales"><button type="text" class="botones_adm" > Administrar terminales</button></a>
<a href="/admin_pois"><button type="text"  class="botones_adm">Administrar POIs</button></a>
<a href="/admin_consultas"><button type="text" class="botones_adm"> Histórico de consultas</button></a>
</center>
</body>
</html>
