
{{#partial "contenido"}}
<center>
<br>
<br>
<t class="login_text"> Seleccione el tipo de acci&oacute;n a agregar: </t>
<select id="Seleccion" style="margin-right: 30px; ;width:200px; height:20px;" name="tipoFiltro">
    <option value="vacio">-</option>
		  <option value="banco">Mandar mail a admin</option>
  </select>
<a href="/agregar_accion"><img src="img/ver_mas.jpg" height="30px" style="margin-top: auto"/></a>
</center>
<center>
  <table style="margin-top: 40px;">
     <tr>
		  <td><p class="historial_tabla" style=" height:40px; width:200px;"> Lista de acciones</p></td>   
     </tr>
     <tr>
     <td>
 {{#acciones}}
     <li><p class=" historial_tabla_textos"> {{descripcion}}
		  		<img src="img/ver_mas.png" height="30px" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;"/></p>
		  </li>
{{/acciones}}
		 </td>
		  </tr>
		      
</table></center>

   <center>
    <button type="button" class="btn_Detalles" style="margin-top: 50px;"> Aceptar </button>
    <button type="button" onclick="goBack()" class="btn_Detalles" style="margin-left: 130px"> Cancelar </button></center>		

{{/partial}}

{{#partial "titulo"}}Administrador de Acciones{{/partial}}
{{#partial "imagen"}}img/diagonal.jpg{{/partial}}
{{> layoutAdmin.hbs}}