

{{#partial "contenido"}}

<center><table style="margin-top: 70px;">
  <tbody >
<form action="/agregar_poi">
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Nuevo nombre: </strong></p></td>
    <td>
    	<input type="text" name="nombre" required>
    </td>
    </tr>
    <tr>
    <td><p class="historial_tabla_textos"> <strong> Tipo: </strong></p></td>
    <td>
		<select style="width:205px;margin-right:30px" id="tipoF" name="tipoFiltro" required>
		  <option value="">-</option>
		  <option value="banco">Banco</option>
		  <option value="cgp">CGP</option>
		  <option value="colectivo">Colectivo</option>
		  <option value="local">Local</option>
		  </select>
	</td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"><strong>Horario: </strong></strong></p></td> <td> </td> <td>Horario Desde:</td> <td>Horario Hasta:</td>
    </tr>
    <tr> <td> <td> <input type="checkbox" name="dias" value="lunes" > Lunes<br> <td><input type="time" name="desde_lunes"></td> <td><input type="time" name="hasta_lunes"></td> </td></td>  </tr>
    <tr> <td> <td> <input type="checkbox" name="dias" value="martes" > Martes<br> <td><input type="time" name="desde_martes"></td> <td><input type="time" name="hasta_martes"></td> </td></td> </tr>
    <tr> <td> <td> <input type="checkbox" name="dias" value="miercoles" > Miercoles<br> <td><input type="time" name="desde_miercoles"></td> <td><input type="time" name="hasta_miercoles"></td> </td></td> </tr>
    <tr> <td> <td> <input type="checkbox" name="dias" value="jueves" > Jueves<br> <td><input type="time" name="desde_jueves"></td> <td><input type="time" name="hasta_jueves"></td> </td></td> </tr>
    <tr> <td> <td> <input type="checkbox" name="dias" value="viernes" > Viernes<br> <td><input type="time" name="desde_viernes"></td> <td><input type="time" name="hasta_viernes"></td> </td></td> </tr>
    <tr> <td> <td> <input type="checkbox" name="dias" value="sabado" > Sabado<br> <td><input type="time" name="desde_sabado"></td> <td><input type="time" name="hasta_sabado"></td> </td></td> </tr>
    <tr> <td> <td> <input type="checkbox" name="dias" value="domingo" > Domingo<br> <td><input type="time" name="desde_domingo"></td> <td><input type="time" name="hasta_domingo"></td> </td></td> </tr>
    <tr>
    <td><p class=" historial_tabla_textos"><strong>Direcci&oacute;n </strong></strong></p></td>
    </tr>
    <tr>
   <td><p class=" historial_tabla_textos"> <strong> Calle Principal: </strong></p></td>
   <td>
     <input type="text" name="calle_principal" id="calle_principal" required>
   </td>
   </tr>

    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Entre calles: </strong></p></td>
    <td>
    	<input type="text" name="entre_calles" id="entre_calles">
    </td>
    </tr>

    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Altura: </strong></p></td>
    <td>
    	<input type="text" name="altura" id="altura" >
    </td>
    </tr>

    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Piso: </strong></p></td>
    <td>
    	<input type="text" name="piso">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Unidad: </strong></p></td>
    <td>
    	<input type="text" name="unidad">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Codigo postal: </strong></p></td>
    <td>
    	<input type="text" name="codigo_postal">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Numero de comuna: </strong></p></td>
    <td>
    	<input type="number" min="1" name="comuna" required>
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Ciudad: </strong></p></td>
    <td>
    	<input type="text" name="ciudad" name="ciudad" required>
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Provincia: </strong></p></td>
    <td>
    	<input type="text" id="provincia" name="provincia" required>
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Pais: </strong></p></td>
    <td>
    	<input type="text" name="pais">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> <strong> Nuevas coordenadas: </strong></p></td>
    <td><input id="lng" name="lng" type="text" value="" required>
    <input  id="lat" name="latitud" type="text" value="" required><br>

    <center><button type="button" id="ver" class="btn_Detalles"> Ver</button>
    </td>

    <td>
		<div id="map" style="height: 300px; width: 300px;"></div>
	</td>
    </tr>
     </tbody>
</table>

    <input type="submit" class="btn_Detalles" value= "Aceptar">
	<button class="btn_Detalles" style="margin-left: 130px" onclick="goBack()"> Cancelar </button>
	 </form></center>
<script>
function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {
zoom: 11,
center: {lat: -34.6130556, lng: -58.377222222 }
});
var geocoder = new google.maps.Geocoder();
document.getElementById("ver").addEventListener('click', function() {
  geocodeAddress(geocoder, map);
});
}

function geocodeAddress(geocoder, resultsMap) {
var calle = document.getElementById('calle_principal').value;
var altura = document.getElementById('altura').value;
var provincia =  document.getElementById('provincia').value;
var address = altura + " " + calle + " " + provincia;
geocoder.geocode({'address': address}, function(results, status) {
if (status === google.maps.GeocoderStatus.OK) {
  document.getElementById('lat').value = results[0].geometry.location.lat();
  document.getElementById('lng').value = results[0].geometry.location.lng();
  var marker = new google.maps.Marker({
    map: resultsMap,
    position: results[0].geometry.location
  });
} else {
  alert('Geocode was not successful for the following reason: ' + status);
}
});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iusfA7K8t19MxnxGXSrrETDEb-u9BxE&callback=initMap"
    async defer></script>
{{/partial}}
{{#partial "titulo"}}Nuevo POI{{/partial}}
{{#partial "imagen"}}img/Planetario_Galileo_Galilei_(3022933477).jpg{{/partial}}
{{> layoutAdmin.hbs}}
