


{{#partial "contenido"}}
{{#terminales}}
<form action="/modificar_terminal">
<input type="text" value="{{nombre}}"  name="nombreViejo" hidden>
<center><table style="margin-top: 70px;">

  <tbody>
    <tr>
    <td><p class=" historial_tabla_textos"> Nuevo nombre:</p></td>
    <td>
    	<input type="text" value="{{nombre}}"  name="nombre">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Numero de comuna:</p></td>
    <td>
    	<input type="number" min="1" value="{{comuna}}" name="comuna">
    </td>
	  </tr>
	</table>
   <br>
    <center>
    <input type="submit" class="btn_Detalles" value="Aceptar">
    <a href="/admin_acciones?nombre={{nombre}}">
    <button type="button" class="btn_Detalles">Administrar Acciones</button></a>
    <button type="button" onclick="goBack()" class="btn_Detalles"> Cancelar </button>
    </center>
    </form>
{{/terminales}}
{{/partial}}

{{#partial "titulo"}}Edicion de Terminal{{/partial}}
{{#partial "imagen"}}img/diagonal.jpg{{/partial}}
{{> layoutAdmin.hbs}}
