


{{#partial "contenido"}}
{{#terminales}}
<center><table style="margin-top: 70px;">
  <tbody >
    <tr>
    <td><p class=" historial_tabla_textos"> Nuevo nombre:</p></td>
    <td>
    	<input type="text" value="{{nombre}}">
    </td>
    </tr>
    <tr>
    <td><p class=" historial_tabla_textos"> Numero de comuna:</p></td>
    <td>
    	<input type="number" min="1" value="{{comuna}}">
    </td>
	  </tr>
	</table>
   <br>
    <center>
    <button type="button" class="btn_Detalles" > Aceptar </button>
    <button  class="btn_Detalles" onclick="
    window.location.href ='/admin_acciones?nombre={{nombre}}';
">Administrar Acciones</button>   
    <button type="button" onclick="goBack()" class="btn_Detalles"> Cancelar </button>
    </center>		
{{/terminales}}
{{/partial}}

{{#partial "titulo"}}Edicion de Terminal{{/partial}}
{{#partial "imagen"}}img/diagonal.jpg{{/partial}}
{{> layoutAdmin.hbs}}