@charset "utf-8";
/* CSS Document */
.body1
{
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 400;
	background: linear-gradient(to bottom,#ffd300,#FBAB00);
	background-repeat:no-repeat;
	margin:0px;
	padding:0px;

}
.titulo{
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 800;
	font-size:60px;	
	}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.header
{
	height:150px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	text-align:center;
	color:white;
}

.body2
{
	font-family: 'Raleway', Arial, sans-serif;
	width: 1024px;
	height: 768px;
	font-weight: 400;
	background-color:#FFFFFF;
	background-repeat:no-repeat;
	margin:0px;
	padding:0px;
}

.login
{
	align-content: center;
	height: 300px;
	width: 350px;
	margin-top:200px;
	margin-left: 350px;
	background-color: #FDFFF4;
	border-radius: 10px;

}
.titulo_secundario{
	margin-top:50px;
	text-align:center;
	font-family: 'Raleway', Arial, sans-serif;
	font-size:35px;
	margin-left:30px;
	font-weight:800 
}
.login_text{
	margin-top:50px;
	text-align:center;
	font-family: 'Raleway', Arial, sans-serif;
}

.campos{
	margin-left:100px;
}


.boton
{
	width: 100px;
	height: 30px;
	color: black;
	background-color: #BBBBBB;
	border: 0px;
	border-radius: 6px;
	margin-left:125px;
	margin-top:50px;
}

.botones_adm
{
	width: 200px;
	height: 75px;
	color: white;
	background-color: #4B4B4B;
	border: 0px;
	border-radius: 6px;
	margin-left:125px;
	margin-top:350px;
	font-size:18px;

}

.map
{
	background: #FFFFFF;
	align-content: center;

}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ffd300;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#h1
{
	font-family: 'Raleway', Arial, sans-serif;
	color:white;
	font-size:50px;
	font-weight:bold;
}

.historial_tabla
{

	background: linear-gradient(to bottom, #FFE2A7 ,#FFF5CC);
	background-repeat:no-repeat;
	border-radius:10px;
	font-family: 'Raleway', Arial, sans-serif;
	margin-right: 15px;
	margin-left:15px;
	margin-top:10px;
	color:#454545;
	align-content:center;
	text-align:center;
	padding:8px;
	font-size:18px;
	margin-bottom:0px;
}

.historial_tabla_textos
{
	text-align:center;
	font-family: 'Raleway', Arial, sans-serif;

}

.btn_Detalles
{
 background: linear-gradient(to bottom,#ffd300,#FBAB00);
 background-repeat:no-repeat;
 border-radius:5px;
 font-family: 'Raleway', Arial, sans-serif;
 font-weight:bold; color: #454545;
 font-size:16px;
 cursor:pointer;
 }
