<!doctype html>
<html>
<head>
<link href= "frank.css" rel="stylesheet" type= "text/css">
 <script src="Frank.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="shortcut icon" type="image/jpeg" href="img/favicon.jpeg"/>
<meta charset="utf-8">
<title>{{#block "titulo"}}{{/block}}</title>

</head>
<nav style="background: linear-gradient(to bottom,#ffd300,#FBAB00);
	background-repeat:no-repeat; position: fixed; width:100%;  display: inline-block;z-index:1;">

  <img height="25px" style=" margin-top:12px; margin-bottom:10px; margin-left:30px" src="img/DDT.png">
  <p style="float:right;font-size:15px; margin-right:20px"><strong>Usuario: </strong> {{#block "usuario"}}{{/block}}</p> </div>
</nav>
<header class="header" style="margin-bottom:200px">
<div width="100%" style="
overflow:hidden;
height:300px;
width:100%;
background-image: url('img/Planetario_Galileo_Galilei_(3022933477).jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; text-align:left;
   	"><p style="margin-left:10px;margin-top:200px" class="titulo"><strong>{{#block "titulo"}}{{/block}}</strong></p></div>
</header>
<body>
{{#block "contenido"}}{{/block}}
</body>
<footer style="width:100%; margin-top:100px; margin-bottom:10px">
<center><t class="login_text">Hecho con amor por el MB por: Yamila Casarini Fernandez, Ignacio Francisco Iglesias, Maria Luz Pebes, Juan Ignacio Cabanas</t></center>
</footer>
</html>
