<!doctype html>
<html>
<head>
<link href= "frank.css" rel="stylesheet" type= "text/css">
 <script src="Frank.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script>
$(document).ready(function(){
   $("#mySidenav a").on({
    mouseenter: function(){
        $(this).css("background-color", "#888");
    }, 
    mouseleave: function(){
        $(this).css("background-color", "#111");
    }, 
    click: function(){
        $(this).css("background-color", "#ffd300");
    } 
});
   $("#mySidenav").mouseleave(function(){
   		closeNav();});
});
</script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="shortcut icon" type="image/jpeg" href="img/favicon.jpeg"/>
<meta charset="utf-8">
<title>{{#block "titulo"}}{{/block}}</title>

</head>
<nav style="background: linear-gradient(to bottom,#ffd300,#FBAB00);
	background-repeat:no-repeat; position: fixed; width:100%;z-index:1;">
  <span style="font-size:30px;cursor:pointer; margin-left:10px" onclick="openNav()">&#9776;</span>
  <img height="25px" style="float:right; margin-top:10px; margin-right:10px" src="img/DDT.png">
</nav>
<header class="header" style="margin-bottom:150px">
<div width="100%" style=" 
overflow:hidden;
height:300px;
width:100%;
background-image: url('{{#block "imagen"}}{{/block}}');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; text-align:left;  
   	"><br><br><br><br><br><br><br><br><br><t style="margin-left:10px;text-shadow: 1px 2px 3px #666;" class="titulo"><strong>{{#block "titulo"}}{{/block}}</strong></t></div>
</header>
<body>
<div id="mySidenav" class="sidenav">
  <a href="/admin_terminales">Administrar Terminales</a>
  <a href="/admin_pois"">Administrar POIs</a>
  <a href="/admin_consultas">Ver Consultas</a>
  <a href="/">Salir</a>
</div>
{{#block "contenido"}}{{/block}}
</body>
<footer style="width:100%; margin-top:100px; margin-bottom:10px">
<center><t class="login_text">Hecho con amor por el MB por: Yamila Casarini Fernandez, Ignacio Francisco Iglesias, Maria Luz Pebes, Juan Ignacio Cabanas</t></center>
</footer>
</html>
