<!doctype html>
<html>
<head>
<link href= "frank.css" rel="stylesheet" type= "text/css">
 <script src="Frank.js"></script>
<meta charset="utf-8">

<title>Edicion de POI</title>
</head>
<header class="header"><br><br>
<p id="h1"> {{#block "titulo"}}{{/block}}</p>
</header>
<body>
{{#block "contenido"}}{{/block}}
</body>
</html>
