


{{#partial "contenido"}}
<form action="/agregar_terminal">
<center>
<table style="margin-top: 70px;">
  <tbody>
    <tr>
    <td><t class="login_text" style="margin-top:30px">Nombre:</t></td>
    <td><input type="text"  name="nombre"></td>
    </tr>
    <tr>
    <td><t class="login_text" style="margin-top:30px">Comuna:</t></td>
    <td><input type="number" min="1" name="comuna"></td>
	</tr>
	<tr>
    <td>
    	mapa
    </td>
	  </tr>
	  	  <tr>
    <td><t class="login_text" style="margin-top:30px"> Seleccione el tipo de acci&oacute;n a agregar: </t>
<select id="Seleccion" style="margin-right: 30px; ;width:200px; height:20px;" name="tipoFiltro">
    <option value="vacio">-</option>
		  <option value="banco">Mandar mail a admin</option>
  </select>
<a href="/agregar_accion" style="text-decoration: none;"><img src="img/nueva_accion.png" height="30px" style="margin-top: auto;"/>  Nueva acci&oacuten</a>
</center>
		    	
    </td>
	  </tr>
	</table>
   <br>
    <center>	
    <input type="submit" class="btn_Detalles" value="Aceptar">      
    <button type="button" onclick="goBack()" class="btn_Detalles"> Cancelar </button>
    </center>
    </form>		
{{/partial}}
{{#partial "titulo"}}Nueva Terminal{{/partial}}
{{#partial "imagen"}}img/diagonal.jpg{{/partial}}
{{> layoutAdmin.hbs}}